.elementor-1013
  .elementor-element.elementor-element-b9c41a9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1013
  .elementor-element.elementor-element-b9c41a9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-1013 .elementor-element.elementor-element-b9c41a9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  color: var(--e-global-color-1e6e2db);
  padding: 80px 0px 80px 0px;
}
.elementor-1013
  .elementor-element.elementor-element-b9c41a9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-b9c41a9
  .elementor-heading-title {
  color: var(--e-global-color-1e6e2db);
}
.elementor-1013 .elementor-element.elementor-element-b9c41a9 a {
  color: var(--e-global-color-1e6e2db);
}
.elementor-1013 .elementor-element.elementor-element-b9c41a9 a:hover {
  color: var(--e-global-color-8cbc5a3);
}
.elementor-1013
  .elementor-element.elementor-element-10b0ab2
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-1013 .elementor-element.elementor-element-2b273bd {
  text-align: left;
}
.elementor-1013 .elementor-element.elementor-element-2b273bd img {
  width: 156px;
}
.elementor-1013
  .elementor-element.elementor-element-2b273bd
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1013
  .elementor-element.elementor-element-d3a68eb
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-d3a68eb
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-1013 .elementor-element.elementor-element-d3a68eb {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1013
  .elementor-element.elementor-element-d3a68eb
  .elementor-icon-list-text {
  transition: color 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-d3a68eb
  > .elementor-widget-container {
  margin: 0px 0px 0px -27px;
}
.elementor-1013
  .elementor-element.elementor-element-0918e33
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-0918e33
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-1013 .elementor-element.elementor-element-0918e33 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1013
  .elementor-element.elementor-element-0918e33
  .elementor-icon-list-text {
  transition: color 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-0918e33
  > .elementor-widget-container {
  margin: 0px 0px 0px -27px;
}
.elementor-1013
  .elementor-element.elementor-element-c365afe
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-c365afe
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-1013 .elementor-element.elementor-element-c365afe {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1013
  .elementor-element.elementor-element-c365afe
  .elementor-icon-list-text {
  transition: color 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-c365afe
  > .elementor-widget-container {
  margin: 0px 0px 0px -27px;
}
.elementor-1013
  .elementor-element.elementor-element-06cee89:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1013
  .elementor-element.elementor-element-06cee89
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-1013 .elementor-element.elementor-element-06cee89 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-06cee89
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1013
  .elementor-element.elementor-element-324ee28
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--e-global-color-d98d89d);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 30px 0px;
}
.elementor-1013
  .elementor-element.elementor-element-324ee28
  > .elementor-element-populated,
.elementor-1013
  .elementor-element.elementor-element-324ee28
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1013
  .elementor-element.elementor-element-324ee28
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1013
  .elementor-element.elementor-element-324ee28
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1013 .elementor-element.elementor-element-00d6ae7 {
  text-align: right;
}
.elementor-1013 .elementor-element.elementor-element-00d6ae7 img {
  width: 177px;
}
.elementor-1013 .elementor-element.elementor-element-ffdf4d6 {
  text-align: left;
}
.elementor-1013 .elementor-element.elementor-element-ffdf4d6 img {
  width: 177px;
}
@media (max-width: 1366px) {
  .elementor-1013 .elementor-element.elementor-element-b9c41a9 {
    padding: 80px 20px 40px 20px;
  }
}
@media (max-width: 1024px) {
  .elementor-1013
    .elementor-element.elementor-element-244307a
    > .elementor-element-populated {
    padding: 20px 0px 0px 0px;
  }
  .elementor-1013
    .elementor-element.elementor-element-46b05c7
    > .elementor-element-populated {
    padding: 20px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-1013
    .elementor-element.elementor-element-4aac266
    > .elementor-element-populated {
    padding: 20px 0px 0px 0px;
  }
  .elementor-1013
    .elementor-element.elementor-element-244307a
    > .elementor-element-populated {
    padding: 30px 0px 0px 0px;
  }
  .elementor-1013
    .elementor-element.elementor-element-46b05c7
    > .elementor-element-populated {
    padding: 30px 0px 0px 0px;
  }
  .elementor-1013 .elementor-element.elementor-element-febadef {
    width: 50%;
  }
  .elementor-1013 .elementor-element.elementor-element-3349e18 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .elementor-1013 .elementor-element.elementor-element-10b0ab2 {
    width: 22.009%;
  }
  .elementor-1013 .elementor-element.elementor-element-4aac266 {
    width: 24.059%;
  }
  .elementor-1013 .elementor-element.elementor-element-244307a {
    width: 28.932%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1013 .elementor-element.elementor-element-10b0ab2 {
    width: 50%;
  }
  .elementor-1013 .elementor-element.elementor-element-4aac266 {
    width: 50%;
  }
  .elementor-1013 .elementor-element.elementor-element-244307a {
    width: 50%;
  }
  .elementor-1013 .elementor-element.elementor-element-46b05c7 {
    width: 50%;
  }
}
