.elementor-105
  .elementor-element.elementor-element-931bee7
  > .elementor-container {
  min-height: 117px;
}
.elementor-105
  .elementor-element.elementor-element-931bee7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-105
  .elementor-element.elementor-element-931bee7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-1e6e2db);
}
.elementor-105 .elementor-element.elementor-element-931bee7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0% 3% 0% 3%;
  z-index: 200;
}
.elementor-105
  .elementor-element.elementor-element-931bee7
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-105
  .elementor-element.elementor-element-f2f99db.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-105
  .elementor-element.elementor-element-f2f99db.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-105 .elementor-element.elementor-element-4ad0ebd {
  text-align: left;
}
.elementor-105 .elementor-element.elementor-element-4ad0ebd img {
  width: 238px;
}
.elementor-bc-flex-widget
  .elementor-105
  .elementor-element.elementor-element-2b67e18.elementor-column
  .elementor-widget-wrap {
  align-items: flex-end;
}
.elementor-105
  .elementor-element.elementor-element-2b67e18.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-menu-toggle {
  margin-left: auto;
  background-color: var(--e-global-color-1e6e2db);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu
  .elementor-item {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-text);
  fill: var(--e-global-color-text);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-primary);
  fill: var(--e-global-color-primary);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-primary);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-menu-toggle {
  color: var(--e-global-color-text);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-1e6e2db);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-8cbc5a3);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: var(--e-global-color-1e6e2db);
}
.elementor-105
  .elementor-element.elementor-element-4c4f26c
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-8cbc5a3);
  background-color: var(--e-global-color-1e6e2db);
}
@media (min-width: 768px) {
  .elementor-105 .elementor-element.elementor-element-f2f99db {
    width: 18.499%;
  }
  .elementor-105 .elementor-element.elementor-element-2b67e18 {
    width: 81.501%;
  }
}
@media (max-width: 1366px) {
  .elementor-105 .elementor-element.elementor-element-931bee7 {
    padding: 1px 1px 1px 1px;
  }
}
@media (max-width: 1200px) {
  .elementor-105 .elementor-element.elementor-element-931bee7 {
    padding: 0px 3px 0px 3px;
  }
}
@media (max-width: 1024px) {
  .elementor-105
    .elementor-element.elementor-element-4c4f26c
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 19px;
    padding-right: 19px;
  }
}
@media (max-width: 880px) {
  .elementor-105
    .elementor-element.elementor-element-4c4f26c
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .elementor-105
    .elementor-element.elementor-element-931bee7
    > .elementor-container {
    min-height: 87px;
  }
  .elementor-105 .elementor-element.elementor-element-f2f99db {
    width: 50%;
  }
  .elementor-105 .elementor-element.elementor-element-4ad0ebd {
    text-align: left;
  }
  .elementor-105 .elementor-element.elementor-element-4ad0ebd img {
    width: 140px;
  }
  .elementor-105 .elementor-element.elementor-element-2b67e18 {
    width: 50%;
  }
}
